name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set Algolia Search
        run: |
          echo "ALGOLIA_APP_ID=${{ secrets.ALGOLIA_APP_ID }}" >> $GITHUB_ENV
          echo "ALGOLIA_API_KEY=${{ secrets.ALGOLIA_API_KEY }}" >> $GITHUB_ENV
          echo "ALGOLIA_INDEX_NAME=${{ secrets.ALGOLIA_INDEX_NAME }}" >> $GITHUB_ENV

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build site
        run: yarn build

      - name: Deploy to GitHub Pages
        run: |
          git config --global user.email "${{ secrets.REPO_OWNER_EMAIL }}"
          git config --global user.name "${{ github.repository_owner }}"
          git remote set-url origin https://$GIT_USER:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
          yarn deploy
        env:
          GIT_USER: git